list-agentes-workflow.json
{
  "name": "Listar Agentes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "list-agentes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-list",
      "name": "Webhook Listar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "list-agentes"
    },
    {
      "parameters": {
        "operation": "select",
        "table": "agentes",
        "options": {
          "sort": {
            "sortBy": "created_at",
            "sortOrder": "DESC"
          }
        }
      },
      "id": "postgres-select",
      "name": "PostgreSQL Select",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Listar": {
      "main": [
        [
          {
            "node": "PostgreSQL Select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL Select": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "list-agentes-workflow",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
