status-agente-1-workflow-funcional.json
{
  "name": "status-agente1",
  "nodes": [
    {
      "parameters": {
        "path": "status-agente1",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "4b833a60-32cc-4789-82db-55e6e31490bd",
      "name": "Webhook Status Agente 1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        192,
        64
      ],
      "webhookId": "cd9c5f10-5375-418d-a041-e02e4d164cfc"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-id",
              "name": "workflowId",
              "value": "={{ $json.query.workflow_id || 'eBcColwirndBaFZX' }}",
              "type": "string"
            },
            {
              "id": "execution-id",
              "name": "executionId",
              "value": "={{ $json.query.execution_id || '' }}",
              "type": "string"
            },
            {
              "id": "usuario-id",
              "name": "usuarioId",
              "value": "={{ $json.query.usuario_id || '5' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9dece348-7ddb-43c9-8335-e73fff5802b8",
      "name": "Normalizar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status, iniciado_em, parado_em, execution_id, workflow_id, usuario_nome, usuario_email, finalizado_em, erro_em, mensagem_erro, duracao_segundos FROM agente_execucoes WHERE workflow_id = $1 AND usuario_id = $2 ORDER BY created_at DESC LIMIT 1",
        "options": {
          "queryReplacement": "=={{ $json.workflowId }}\n={{ $json.usuarioId }}"
        }
      },
      "id": "0107b84f-395f-45e3-a307-9a0e3b265346",
      "name": "PostgreSQL - Get Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        624,
        64
      ],
      "credentials": {
        "postgres": {
          "id": "NYw7G7xS9MHwNyPW",
          "name": "Postgres Consorcio"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Determinar status do agente baseado no PostgreSQL\nconst dbStatus = $input.first().json;\n\nconsole.log('🔍 DB Status:', dbStatus);\n\nlet status = 'stopped';\nlet message = 'Agente parado';\nlet executionId = null;\nlet iniciadoEm = null;\nlet paradoEm = null;\nlet finalizadoEm = null;\nlet erroEm = null;\nlet mensagemErro = null;\nlet duracaoSegundos = null;\nlet usuarioNome = null;\nlet usuarioEmail = null;\n\n// Verificar status no banco de dados\nif (dbStatus && dbStatus.status) {\n  status = dbStatus.status;\n  message = status === 'running' ? 'Agente rodando' : 'Agente parado';\n  executionId = dbStatus.execution_id;\n  iniciadoEm = dbStatus.iniciado_em;\n  paradoEm = dbStatus.parado_em;\n  finalizadoEm = dbStatus.finalizado_em;\n  erroEm = dbStatus.erro_em;\n  mensagemErro = dbStatus.mensagem_erro;\n  duracaoSegundos = dbStatus.duracao_segundos;\n  usuarioNome = dbStatus.usuario_nome;\n  usuarioEmail = dbStatus.usuario_email;\n  console.log('✅ Status do DB:', status);\n} else {\n  console.log('⚠️ Nenhum status encontrado no DB, usando padrão: stopped');\n}\n\nreturn {\n  json: {\n    status: status,\n    message: message,\n    executionId: executionId,\n    workflowId: $('Normalizar Dados').item.json.workflowId,\n    iniciadoEm: iniciadoEm,\n    paradoEm: paradoEm,\n    finalizadoEm: finalizadoEm,\n    erroEm: erroEm,\n    mensagemErro: mensagemErro,\n    duracaoSegundos: duracaoSegundos,\n    usuarioNome: usuarioNome,\n    usuarioEmail: usuarioEmail,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "e732e334-2757-41ee-9a63-54dd28fa87dd",
      "name": "Determinar Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "1eec9827-d074-476c-9602-6d591a8faad2",
      "name": "Responder Status",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1056,
        64
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Status Agente 1": {
      "main": [
        [
          {
            "node": "Normalizar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Dados": {
      "main": [
        [
          {
            "node": "PostgreSQL - Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Get Status": {
      "main": [
        [
          {
            "node": "Determinar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determinar Status": {
      "main": [
        [
          {
            "node": "Responder Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1016fe04-9988-4934-a8e6-df076121335a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e390a7cf83b11ca128a2252ed89e7c1ee590debb7c2457ed87a7ff09e87ea108"
  },
  "id": "ZWeNlGbLyv0HkXvq",
  "tags": []
}
